################################################################################
### Localization
################################################################################
d-i debian-installer/locale string {_{_{_ server.locale _}_}_}
d-i console-keymaps-at/keymap select {_{_{_ server.kblayout _}_}_}
d-i keyboard-configuration/xkb-keymap select {_{_{_ server.kblayout _}_}_}

################################################################################
### Network configuration
################################################################################
d-i netcfg/choose_interface select auto
# d-i netcfg/disable_dhcp boolean true
# d-i netcfg/dhcp_failed note
# d-i netcfg/dhcp_options select Configure network manually
# d-i netcfg/get_ipaddress string 
# d-i netcfg/get_netmask string 
# d-i netcfg/get_gateway string 
# d-i netcfg/get_nameservers string 
# d-i netcfg/confirm_static boolean true
d-i netcfg/get_hostname string {_{_{_ server.name _}_}_}
d-i netcfg/get_hostname seen true
d-i netcfg/get_domain string {_{_{_ server.domain _}_}_}
d-i netcfg/get_domain seen true
d-i netcfg/hostname string {_{_{_ server.name _}_}_}

################################################################################
### Mirror settings
################################################################################
d-i mirror/country string manual
d-i mirror/http/hostname string {_{_{_ pxe_deploy_debian_bookworm_mirror_hostname _}_}_}
d-i mirror/http/directory string {_{_{_ pxe_deploy_debian_bookworm_mirror_directory _}_}_}
d-i mirror/http/proxy string {_{_{_ pxe_deploy_debian_bookworm_mirror_proxy _}_}_}

################################################################################
### Apt setup
################################################################################
d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true

################################################################################
### Partitioning
################################################################################
d-i partman-auto/disk string /dev/{_{_{_ server.disk _}_}_}
d-i partman-md/device_remove_md boolean true
d-i partman/choose_partition select finish
d-i partman/default_filesystem string ext4
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman-basicfilesystems/no_swap boolean false
d-i partman-basicmethods/method_only boolean false
d-i partman-auto/purge_lvm_from_device boolean true

d-i partman-basicfilesystems/choose_label string gpt
d-i partman-basicfilesystems/default_label string gpt
d-i partman-partitioning/choose_label string gpt
d-i partman-partitioning/default_label string gpt
d-i partman/choose_label string gpt
d-i partman/default_label string gpt
d-i partman-efi/non_efi_system boolean true
d-i partman/confirm_write_new_label boolean true

{% if server.partitionning == 'nolvm-single' %}
d-i partman-auto/method string regular
d-i partman-auto/expert_recipe string boot-root :: \
128 128 128 free $primary{ } $iflabel{ gpt } $reusemethod{ } method{ efi } format{ } . \
6000 50 -1 {_{_{_ server.filesystem | default('ext4') _}_}_} $primary{ } $bootable{ } method{ format } format{ } use_filesystem{ } filesystem{ {_{_{_ server.filesystem | default('ext4') _}_}_} } mountpoint{ / } .
{% endif %}

{% if server.partitionning == 'lvm-multi' %}
d-i partman-auto/method string lvm
d-i partman-auto-lvm/guided_size string 100%
d-i partman-auto-lvm/new_vg_name string {_{_{_ server.vgname | default('vg0') _}_}_}
d-i partman-auto/expert_recipe string boot-root :: \
128 128 128 free $primary{ } $iflabel{ gpt } $reusemethod{ } method{ efi } format{ } . \
512 512 512 {_{_{_ server.filesystem_boot | default('ext2') _}_}_} $primary{ } $bootable{ } method{ format } format{ } use_filesystem{ } filesystem{ {_{_{_ server.filesystem_boot | default('ext2') _}_}_} } mountpoint{ /boot } . \
6144 6144 6144 lvm $primary{ } method{ lvm } vg_name{ {_{_{_ server.vgname | default('vg0') _}_}_} } . \
4096 4096 4096 {_{_{_ server.filesystem | default('ext4') _}_}_} $lvmok{ } $lv_name{ lv-root } in_vg{ {_{_{_ server.vgname | default('vg0') _}_}_} } method{ format } format{ } use_filesystem{ } filesystem{ {_{_{_ server.filesystem | default('ext4') _}_}_} } mountpoint{ / } . \
2048 2048 2048 {_{_{_ server.filesystem | default('ext4') _}_}_} $lvmok{ } $lv_name{ lv-var } in_vg{ {_{_{_ server.vgname | default('vg0') _}_}_} } method{ format } format{ } use_filesystem{ } filesystem{ {_{_{_ server.filesystem | default('ext4') _}_}_} } mountpoint{ /var } . \
1024 1024 1024 {_{_{_ server.filesystem | default('ext4') _}_}_} $lvmok{ } $lv_name{ lv-home } in_vg{ {_{_{_ server.vgname | default('vg0') _}_}_} } method{ format } format{ } use_filesystem{ } filesystem{ {_{_{_ server.filesystem | default('ext4') _}_}_} } mountpoint{ /home } . \
1024 1024 1024 {_{_{_ server.filesystem | default('ext4') _}_}_} $lvmok{ } $lv_name{ lv-tmp } in_vg{ {_{_{_ server.vgname | default('vg0') _}_}_} } method{ format } format{ } use_filesystem{ } filesystem{ {_{_{_ server.filesystem | default('ext4') _}_}_} } mountpoint{ /tmp } . \
2048 2048 2048 linux-swap $lvmok{ } $lv_name{ lv-swap } in_vg{ {_{_{_ server.vgname | default('vg0') _}_}_} } method{ swap } format{ } .
{% endif %}

{% if server.partitionning == 'lvm-multi2' %}
d-i partman-auto/method string lvm
d-i partman-auto-lvm/guided_size string 100%
d-i partman-auto-lvm/new_vg_name string {_{_{_ server.vgname | default('vg0') _}_}_}
d-i partman-auto/expert_recipe string boot-root :: \
128 128 128 free $primary{ } $iflabel{ gpt } $reusemethod{ } method{ efi } format{ } . \
512 512 512 {_{_{_ server.filesystem_boot | default('ext2') _}_}_} $primary{ } $bootable{ } method{ format } format{ } use_filesystem{ } filesystem{ {_{_{_ server.filesystem_boot | default('ext2') _}_}_} } mountpoint{ /boot } . \
6144 6144 6144 lvm $primary{ } method{ lvm } vg_name{ {_{_{_ server.vgname | default('vg0') _}_}_} } . \
2048 2048 2048 {_{_{_ server.filesystem | default('ext4') _}_}_} $lvmok{ } $lv_name{ lv-root } in_vg{ {_{_{_ server.vgname | default('vg0') _}_}_} } method{ format } format{ } use_filesystem{ } filesystem{ {_{_{_ server.filesystem | default('ext4') _}_}_} } mountpoint{ / } . \
4096 4096 4096 {_{_{_ server.filesystem | default('ext4') _}_}_} $lvmok{ } $lv_name{ lv-usr } in_vg{ {_{_{_ server.vgname | default('vg0') _}_}_} } method{ format } format{ } use_filesystem{ } filesystem{ {_{_{_ server.filesystem | default('ext4') _}_}_} } mountpoint{ /usr } . \
2048 2048 2048 {_{_{_ server.filesystem | default('ext4') _}_}_} $lvmok{ } $lv_name{ lv-var } in_vg{ {_{_{_ server.vgname | default('vg0') _}_}_} } method{ format } format{ } use_filesystem{ } filesystem{ {_{_{_ server.filesystem | default('ext4') _}_}_} } mountpoint{ /var } . \
1024 1024 1024 {_{_{_ server.filesystem | default('ext4') _}_}_} $lvmok{ } $lv_name{ lv-home } in_vg{ {_{_{_ server.vgname | default('vg0') _}_}_} } method{ format } format{ } use_filesystem{ } filesystem{ {_{_{_ server.filesystem | default('ext4') _}_}_} } mountpoint{ /home } . \
1024 1024 1024 {_{_{_ server.filesystem | default('ext4') _}_}_} $lvmok{ } $lv_name{ lv-tmp } in_vg{ {_{_{_ server.vgname | default('vg0') _}_}_} } method{ format } format{ } use_filesystem{ } filesystem{ {_{_{_ server.filesystem | default('ext4') _}_}_} } mountpoint{ /tmp } . \
1024 1024 1024 {_{_{_ server.filesystem | default('ext4') _}_}_} $lvmok{ } $lv_name{ lv-opt } in_vg{ {_{_{_ server.vgname | default('vg0') _}_}_} } method{ format } format{ } use_filesystem{ } filesystem{ {_{_{_ server.filesystem | default('ext4') _}_}_} } mountpoint{ /opt } . \
2048 2048 2048 linux-swap $lvmok{ } $lv_name{ lv-swap } in_vg{ {_{_{_ server.vgname | default('vg0') _}_}_} } method{ swap } format{ } .
{% endif %}

################################################################################
### Clock and time zone setup
################################################################################
d-i clock-setup/utc boolean true
d-i time/zone string {_{_{_ server.timezone _}_}_}
d-i clock-setup/ntp boolean true

################################################################################
### Account setup
################################################################################
d-i passwd/root-login boolean true
d-i passwd/root-password password {_{_{_ server.rootpwd _}_}_}
d-i passwd/root-password-again password {_{_{_ server.rootpwd _}_}_}
d-i passwd/make-user boolean false

################################################################################
### Boot loader installation
################################################################################
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i grub-installer/bootdev string default

################################################################################
### Package selection
################################################################################
tasksel tasksel/first multiselect standard
# d-i pkgsel/include string openssh-server dnsutils locate iotop haveged nicstat apt-transport-https curl nmon wget qemu-guest-agent vim sudo htop tig git lynx wget sshpass zip nfs-common nmap sysstat tree
d-i pkgsel/include string openssh-server haveged
popularity-contest popularity-contest/participate boolean false

################################################################################
### Finishing up the installation
################################################################################
d-i finish-install/reboot_in_progress note
d-i cdrom-detect/eject boolean false

################################################################################
### X configuration
################################################################################
xserver-xorg xserver-xorg/autodetect_monitor boolean true
xserver-xorg xserver-xorg/config/monitor/selection-method select medium
xserver-xorg xserver-xorg/config/monitor/mode-list select 1024x768 @ 60 Hz

################################################################################
### Running custom commands during the installation
################################################################################
d-i preseed/late_command string in-target sed -i 's/#PermitRootLogin prohibit-password/PermitRootLogin yes/' /etc/ssh/sshd_config;
