################################################################################
### Mirror settings
################################################################################
url --url={{ pxe_deploy_fedora_37_mirror_url }}

################################################################################
### Account setup
################################################################################
rootpw --plaintext {{ server.rootpwd }}
# auth --passalgo=sha512 --useshadow

################################################################################
### Localization
################################################################################
lang {{ server.locale }}
keyboard {{ server.kblayout }}

################################################################################
### Clock and time zone setup
################################################################################
timezone {{ server.timezone }} --isUtc

################################################################################
### Options
################################################################################
selinux --disabled
firewall --disabled
text
firstboot --disable
# install
reboot
skipx

################################################################################
### Partitioning
################################################################################
zerombr
clearpart --all --initlabel --drives={{ server.disk }}

{% if server.partitionning == 'nolvm-single' %}
part /boot/efi --size 128 --asprimary --fstype=efi --fsoptions="umask=0777,shortname=winnt" --ondisk={{ server.disk }}
part / --size 1 --grow --asprimary --fstype={{ server.filesystem | default('ext4') }} --ondisk={{ server.disk }}
{% endif %}

{% if server.partitionning == 'lvm-multi' %}
part /boot/efi --size 128 --asprimary --fstype=efi --fsoptions="umask=0777,shortname=winnt" --ondisk={{ server.disk }}
part /boot --fstype={{ server.filesystem_boot | default('ext2') }} --size=512 --ondisk={{ server.disk }}
part pv.1 --size 1 --grow --fstype=lvmpv --ondisk={{ server.disk }}
volgroup {{ server.vgname | default('vg0') }} --pesize=32768 pv.1
logvol / --fstype {{ server.filesystem | default('ext4') }} --vgname {{ server.vgname | default('vg0') }} --size=4096 --name=lv-root
logvol /var --fstype {{ server.filesystem | default('ext4') }} --vgname {{ server.vgname | default('vg0') }} --size=2048 --name=lv-var
logvol /home --fstype {{ server.filesystem | default('ext4') }} --vgname {{ server.vgname | default('vg0') }} --size=1024 --name=lv-home
logvol /tmp --fstype {{ server.filesystem | default('ext4') }} --vgname {{ server.vgname | default('vg0') }} --size=1024 --name=lv-tmp
logvol swap --vgname {{ server.vgname | default('vg0') }} --size=2048 --name=lv-swap
{% endif %}

{% if server.partitionning == 'lvm-multi2' %}
part /boot/efi --size 256 --asprimary --fstype=efi --fsoptions="umask=0777,shortname=winnt" --ondisk={{ server.disk }}
part /boot --fstype={{ server.filesystem_boot | default('ext2') }} --size=512 --ondisk={{ server.disk }}
part pv.1 --size 1 --grow --fstype=lvmpv --ondisk={{ server.disk }}
volgroup {{ server.vgname | default('vg0') }} --pesize=32768 pv.1
logvol / --fstype {{ server.filesystem | default('ext4') }} --vgname {{ server.vgname | default('vg0') }} --size=2048 --name=lv-root
logvol /usr --fstype {{ server.filesystem | default('ext4') }} --vgname {{ server.vgname | default('vg0') }} --size=4096 --name=lv-usr
logvol /var --fstype {{ server.filesystem | default('ext4') }} --vgname {{ server.vgname | default('vg0') }} --size=2048 --name=lv-var
logvol /home --fstype {{ server.filesystem | default('ext4') }} --vgname {{ server.vgname | default('vg0') }} --size=1024 --name=lv-home
logvol /tmp --fstype {{ server.filesystem | default('ext4') }} --vgname {{ server.vgname | default('vg0') }} --size=1024 --name=lv-tmp
logvol /opt --fstype {{ server.filesystem | default('ext4') }} --vgname {{ server.vgname | default('vg0') }} --size=1024 --name=lv-opt
logvol swap --vgname {{ server.vgname | default('vg0') }} --size=2048 --name=lv-swap
{% endif %}

################################################################################
### Boot loader installation
################################################################################
bootloader --location=mbr --append="crashkernel=auto" --boot-drive={{ server.disk }}

################################################################################
### Network configuration
################################################################################
network --hostname {{ server.name }}
network --activate --onboot=yes --bootproto=dhcp

################################################################################
### Package selection
################################################################################
%packages --ignoremissing
@standard
@base
@core
@system-admin-tools
iotop
haveged
nmon
qemu-guest-agent
vim
sudo
htop
tig
git
wget
sshpass
zip
nmap
sysstat
tree
nfs-utils
sed
sysfsutils
rsync
nano
findutils
tar
net-tools
lsof
curl
which
bind-utils
ntp
man
gzip
nmap
screen
-subscription-manager
-sysreport
%end

################################################################################
### Running custom commands during the installation
################################################################################
%post --interpreter=/bin/bash
sed -i 's/#PermitRootLogin yes/PermitRootLogin yes/' /etc/ssh/sshd_config;
sed -i 's/#PermitRootLogin prohibit-password/PermitRootLogin yes/' /etc/ssh/sshd_config;
%end
