################################################################################
### Mirror settings
################################################################################
url --url={{ pxe_sysprep_specs_os_images[os.name]['bootmodes'][bootmode.name]['mirror'].url }} {% if pxe_sysprep_specs_os_images[os.name]['bootmodes'][bootmode.name]['mirror'].proxy is defined %}--proxy={{ pxe_sysprep_specs_os_images[os.name]['bootmodes'][bootmode.name]['mirror'].proxy }}{% endif %}

################################################################################
### Account setup
################################################################################
rootpw --plaintext {{ server.rootpwd }}
# auth --passalgo=sha512 --useshadow

################################################################################
### Localization
################################################################################
lang {{ server.locale }}
keyboard {{ server.kblayout }}

################################################################################
### Clock and time zone setup
################################################################################
timezone {{ server.timezone }} --isUtc

################################################################################
### Options
################################################################################
selinux --disabled
firewall --disabled
text
firstboot --disable
# install
reboot
skipx

################################################################################
### Partitioning
################################################################################
zerombr
clearpart --all --initlabel --drives={{ server.disk }}

{{ sysprep_part_scheme }}

################################################################################
### Boot loader installation
################################################################################
bootloader --location=mbr --append="crashkernel=auto" --boot-drive={{ server.disk }}

################################################################################
### Network configuration
################################################################################
network --hostname {{ server.name }}
network --activate --onboot=yes --bootproto=dhcp

################################################################################
### Package selection
################################################################################
%packages --ignoremissing
@standard
@base
@core
@system-admin-tools
iotop
haveged
nmon
qemu-guest-agent
vim
sudo
htop
tig
git
wget
sshpass
zip
nmap
sysstat
tree
nfs-utils
sed
sysfsutils
rsync
nano
findutils
tar
net-tools
lsof
curl
which
bind-utils
ntp
man
gzip
nmap
screen
-subscription-manager
-sysreport
%end

################################################################################
### Running custom commands during the installation
################################################################################
%post --interpreter=/bin/bash
sed -i 's/#PermitRootLogin yes/PermitRootLogin yes/' /etc/ssh/sshd_config;
sed -i 's/#PermitRootLogin prohibit-password/PermitRootLogin yes/' /etc/ssh/sshd_config;
%end
